@charset "utf-8";

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
 }
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
 }
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
 }

body { 
   font-family:  'Open Sans', Georgia, Times, 'Times New Roman', serif, sans-serif;
   background-color: #caf0f8;
   color: black;
   font-size: 1.3em;
   padding: 0;
   margin: 0;
} 

html {
   scroll-behavior: smooth;
}

p {
   padding-bottom: 0px;
}

li {
   list-style-type: circle;

}

h1, h2, h3 {
		font-family: "Arial";
		font-weight: bold;
}

h1 {
    color: #03045e;
    font-size: 1.7em;
}

h2 {
   color: #03045e;
   font-size: 1.5em;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #889A9C;
}

h3 {
    color: #023e8a;
    font-size: 1.2em;
    font-weight: normal;
}

/* hyperlink rules */
a {
   color: #000000;
}
a:link {
   color: #03045e;
}
a:visited {
   color: #03045e;
}
a:hover {
   color: #0077b6;
}
a:active {
   color: #0077b6;
}
/* Containers */
.main_content {
		/*width: 100%;*/
      float: right;
		width: 70%;
		margin-top: 25px;
      margin-left: 15%;
      margin-right: 15%
	}
.main_content li {
   list-style-image: url(bullet.jpg);
   list-style-position: outside;
}
.edges {
   /*background-color:#FFFFFF;*/
   background-image:url(background.jpg);
   background-repeat:repeat-y;
   color:black;
   margin:0px; /*25px*/
   height: auto;
   overflow: auto;
}
.imgHead {
   float:right;
   margin: 20px;
  /* padding-bottom: 20px;*/
}
.sidebar
{
	color: #889A9C;
	font-size: small;
	font-variant: small-caps;
	line-height: 1.2;
	padding-right: 10px;
	border-right-width:1px;
	border-right-color:#889A9C;
	border-right-style:solid; 
	width:200px;
	float: left;
   vertical-align: top;
	margin-top: 25px;
	margin-left: 25px;
}
.footer {
	clear: both;
	margin: 0px;
   font-size: 12px;
   text-align: center;
   color: #889A9C;
   background-color: #caf0f8;
   padding: 10px;
}
.banner {
   text-align: center;
   margin: 0px;
   padding: 0px;
   /*background-color: #FDED52;*/
   background-image: url(DebateSpeaker2.jpg);
  background-repeat: no-repeat;
   background-position: top center;
  background-size: 100%;
}
.banner h1{
   color:White;
   margin-top:0;
   font-size: 70px;
   font-family: Arial, sans-serif;
   padding-left: 25px;
   padding-top: 25%;
   padding-bottom: 0;
}
.banner h2{
   color: white;
   border: 0;
   font-size: 20px;
   font-variant: small-caps;
   font-weight: bold;
   font-family: Arial, sans-serif;
   padding-left: 25px;
   padding-top: 0; /*55*/
   padding-bottom: 16.5%; /* controls image margin*/
}
/* Navigation Bar */
.horizon {
text-align:center;
font-size: 14px;
   font-variant: normal;
   font-weight: bold;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #03045e;
   overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.horizon ul {
   margin: 0px;
   padding: 0px;
   font-size: 14px;
   font-variant: normal;
   
}
.horizon li {
   list-style-type: none;
   font-weight: bold;
   padding-top: 10px;
   padding-bottom: 10px;
}
.horizon a {
   color:white;
   text-decoration: none;
   cursor: pointer;
 /*  border-left-width: 20px;
   border-left-style: solid;
   border-left-color: #43743D;*/
   padding-left: 20px;
}
.horizon a:hover {
   text-decoration: none;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   /*border-bottom-color: #AD9676;*/
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: white;
   padding-left: 18px;
}
.sub {
   margin:25px;
}
/*
.grid::before {
   font: 800 40px system-ui;
   content: counter(count);
   animation: counter 2s;
 }
 @keyframes counter {
   0% {
     counter-increment: count 0;
   }
   10% {
     counter-increment: count 1;
   }
   20% {
     counter-increment: count 2;
   }
   30% {
     counter-increment: count 3;
   }
   40% {
     counter-increment: count 4;
   }
   50% {
     counter-increment: count 5;
   }
   60% {
     counter-increment: count 6;
   }
   70% {
     counter-increment: count 7;
   }
   80% {
     counter-increment: count 8;
   }
   90% {
     counter-increment: count 9;
   }
   100% {
     counter-increment: count 10;
   }
 }
 */
 .grid {
   display:inline-block;
   margin:5px 20px;
   padding:10px;
   border:3px solid black;
   font-size: large;  
 }
.grid p {
   font-size: x-large;
   font-weight: bold;
}
.grid a {
   color: #000000;
}
.grid a:link {
   color: #000000;
   text-decoration: none;
}
.grid a:visited {
   color: #000000;
}
.grid a:hover {
   color: #80B939;
}
.grid a:active {
   color: #000000;
}